server:
  port: 8888

spring:
  application:
    name: gateway
  cloud:
    consul:
      host: consul 
      port: 8500
      discovery:
        service-name: ${spring.application.name}
        health-check-path: /actuator/health
        health-check-interval: 10s
      config:
        enabled: false # Disable Consul Config if not using centralized configuration
        format: yaml
        default-context: application
        profile-separator: "-"
    gateway:
      globalcors:
        corsConfigurations:
          "[/**]":
            allowed-origins: "http://localhost:5173"
            allowed-methods: "GET, POST, PUT, DELETE"
            allowed-headers: "*"
            allow-credentials: true
            max-age: 3600

management:
  endpoints:
    web:
      exposure:
        include: health,info
